.todo-list {
  text-align: center;
  border: 1px solid #000;
  border-radius: .5em;
  background-color: #fff;
}

.todo-list>ul {
  list-style-type: none;
  font-size: 1.25em;
}


.todo-list>ul>li {
  padding: .25em;
}
