.app {
  background-color: #ddd;
  border-radius: .5em;
  padding: 1em;
  padding-top: .5em;
  max-width: 100vmin;
  margin: auto;
}

.app>h1 {
  font-size: 2 em;
  padding-top: 0;
  text-align: center;
}
